{% extends 'front/layout.html' %}
{% load static %}

{% block title%}
<title>
    {{site.name}} | home
</title>
{% endblock %}


{% block content %}



<div class="container">
    <div class="row">

        {% for i in lastnews %}
        <div class="col">
            <a href="{% url 'news_detail' i.name %}">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{{i.picurl}}">
                    <div class="card-body">
                        <p class="card-text">{{i.name}}</p>
                        <p>{{i.short_txt | safe}}</p>
                        <span>{{i.writer}}</span>
                        <span>{{i.date}}</span>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>


    {% for i in cat %}
    {% if i.count != 0 %}
    
    <div class="card my-3">
        <div class="card-header">
            {{i.name}} {{i.count}}
        </div>
    </div>
     {% endif %}

    <div class="row py-3">
    {% for n in news %}
    {% if i.pk == n.ocatid %}
        <div class="col-3">
            <div class="card text-white bg-secondary mb-3" style="">
                <div class="card-header">{{n.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{n.short_txt | safe}}</h5>
                    <p class="card-text">{{n.body_txt | safe}}</p>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
    {% endfor %}
</div>

{% endblock content %}
