{% extends 'front/layout.html' %}
{% load static %}

{% block title%} 
<title>
{{site.name}} | home 
</title>
{% endblock %}


{% block content %}


<img src="" alt="">
<div class="container">
    <div class="row">

       {% for i in news %}
        <div class="col">
            <a href="{% url 'news_detail' i.name %}"> 
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{{i.picurl}}">
                    <div class="card-body">
                            <p class="card-text">{{i.name}}</p>
                            <p>{{i.short_txt}}</p>
                            <span>{{i.writer}}</span>
                            <span>{{i.date}}</span>
                    </div>
                </div>
            </a>
        </div>
       
       {% endfor %}
    </div>
</div>


        <div class="card my-3">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="row py-3">
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
