{% extends 'back/layout.html' %} 

{% load static %}

{% block content %}


<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Short text</th>
      <th>date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for i in news %}
    <tr>
      <td>{{i.pk}}</td>
      <td>
      <div style='width:60px'><img src="{{i.picurl}}" style='width:100%'></div></td>
      <td>{{i.name}}</td>
      <td>{{i.short_txt}}</td>
      <td>{{i.date}}</td>
      <td>
        <i class="far fa-edit button edit"></i>
        <i class="fas fa-trash-alt button delete"></i>
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock  %}