{% extends 'back/layout.html' %} 

{% load static %}

{% block content %}


<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Short text</th>
      <th>Subcategory</th>
      <th>date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for i in news %}
    <tr>
      <td>{{i.pk}}</td>
      <td>
      <div style='width:60px'><img src="{{i.picurl}}" style='width:100%'></div></td>
      <td>{{i.name}}</td>
      <td>{{i.short_txt | safe}}</td>
      <td>{{i.date}} | {{i.time}}</td>
      <td>{{i.category}}</td>
      <td>
        <a href="{% url 'news_edit' i.pk %}"><i class="far fa-edit button edit"></i></a>
        <a href="{% url 'news_delete' i.pk %}"><i class="fas fa-trash-alt button delete"></i></a>
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock  %}